:root {
    font-family: sans-serif;
    font-size: 14px;
    text-rendering: optimizeSpeed;
    --episode-bg: #00000011;
    --episode-height: 8pt;
    --marger-size: 8pt;
    --bg-light:rgb(245, 245, 245);
    --bg-lighter:rgb(252, 252, 252);
}

* { box-sizing: border-box; }

.chart { display: flex; flex-direction: row; flex-wrap: wrap; width: 600px; margin: 0 auto; }
.season { flex: auto; width: 12%; background-color: var(--bg-light); padding: 4px; }
.season:nth-child(2n) { background-color:var(--bg-lighter); }
.episode {height: var(--episode-height);  margin: 0 0 1pt; position: relative;
  background-color: var(--episode-bg); 
  /* right border: 10px to offset marker size. transparent beacuse background is visible anyway */
  border-right: solid var(--marger-size) transparent; }
.episode .marker {  
    width: var(--marger-size);
    position: absolute; left:100%; top:0; bottom: 0;
}

.fine {
    --marger-size: 1pt;
}

.demrep .season01, .demrep .season02, .demrep .season03, .demrep .season08 { background-color: var(--bg-light); }
.demrep .season04, .demrep .season05, .demrep .season06, .demrep .season07 { background-color: var(--bg-lighter); }

.presidents .marker0 {background-color:#56c265;} /* Obama */
.presidents .marker1 {background-color:#ffc421;} /* Clinton */
.presidents .marker2 {background-color:#a51a1f; z-index: 0;} /* Trump */
.presidents .marker3 {background-color:#6695db;} /* Biden */

.parties .marker0 {background-color:#6695db;} /* democrats */
.parties .marker1 {background-color:#a51a1f; z-index: 0;} /* repuclicans */


.marker { background-color: cadetblue; opacity: 0.7; border-radius: var(--marger-size); }
.marker0 { background-color: slateblue; }
.marker1 { background-color: steelblue; }
.marker2 { background-color: violet; }
.marker3 { background-color: coral; }
.marker4 { background-color: crimson; }
.marker5 { background-color: darkblue; }
.marker6 { background-color: deeppink; }
.marker7 { background-color: olivedrab; }

/*.welcome .marker0 { background-color: transparent; background: linear-gradient(to right, blue 50%, transparent 50%); XXbox-shadow: 0 0 2px 1px rgb(6, 44, 1) inset,  0 0 2px 3px rgb(6, 44, 1) inset ;} */ /* welcome */
.welcome .marker0 { background-color: rgb(222, 142, 201); z-index: 4;} /* welcome */
.welcome .marker0 ~ .marker1 { background-color: transparent; background: linear-gradient(to right, transparent 50%, rgb(156, 76, 154) 50%); } /* joining us - half circle after ".welcome" */
.welcome .marker1 { background-color: rgb(156, 76, 154); opacity: 1; z-index: 5;} /* joining us - full circle */
.welcome .marker2 { background-color: rgb(114, 55, 0); } /* main story */
.welcome .marker3 { background-color: black; box-shadow: 0 0 3px 0 white inset; } /* blank void */
.welcome .marker4 { background-color: steelblue; } /* now this */
.welcome .marker5 { background-color: rgb(223, 175, 19); } /* it's true */
.welcome .marker6 { background-color: rgb(68, 133, 24) } /* that's our show */

.abacus .episode {background: transparent;}
.abacus .episode::before {background: var(--episode-bg); position:absolute; left:0; right:calc(var(--marger-size) * -1); top:50%; height:1pt; content:'';}

.ledend { margin: 5px auto; }
.ledend .group {display: inline-block}
.ledend .group .marker {display:inline-block; width: var(--episode-height); height: var(--episode-height);
            margin:0 3px;}

.season > h2 {
    text-align: center;
    font-size: 11pt;
    font-weight: normal;
    margin: 5pt 0 3pt;
}

/* diferent seasons started at different times. not worth automating. maybe could've used a table. */
/* first season started late-april. other seasons had breaks, so it's only 6 shows */
.season.season01 h2 {padding-bottom:calc(calc(var(--episode-height) + 1pt) * 6);}
/* season two is the easliest, a week before. */
.season.season02 h2 {padding-bottom:0;}
/* rest of the seasons are a week later. */
.season h2 {padding-bottom:calc(var(--episode-height) + 1pt);}

.fullwidth .season {width:100%;}
.fullwidth .season h2 {padding-bottom:0;}
.fullwidth .season .episode {margin-top:-4pt;}
